.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-text {
  font-size: 4rem;
  font-weight: 300;
  color: aqua;
}

.logo-text span {
  font-weight: 600;
  color: rgb(255, 102, 0);
}

.nav-links {
  display: flex;
}

.nav-links li {
  margin-left: 1rem;
  list-style: none;
}

.nav-links a {
  font-size: 1.6rem;
  font-weight: 300;
  color: white;
  text-decoration: none;
  margin-right: 1rem;
}

.nav-links a:hover {
  color: orangered;
}

a.btn {
  border: 2px solid white;
  border-radius: 5px;
}
